@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dados Pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="mt-4">
    <p>Sua conta contém dados pessoais que você nos forneceu. Esta página permite que você baixe ou exclua esses dados.</p>
    <p>
        <strong>Excluir estes dados removerá permanentemente sua conta, e esta ação não poderá ser desfeita.</strong>
    </p>

    <div class="d-flex flex-wrap gap-2 mt-4">
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Baixar Dados</button>
        </form>
        <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Excluir Conta</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}